src/main/resources/META-INF/diy.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.gameboys.cn/schema/diy"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.gameboys.cn/schema/diy"
	elementFormDefault="qualified">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"></xsd:import>

	<xsd:element name="user">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="password" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="phone" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
